<section class="about">
    <div class="about-container container">

        <div class="about-box">
            <h2 class="about-title">About Us</h2>

            <p class="about-text">The store "Vyshyvanka Vibes" is a place where traditional Ukrainian vyshyvanka comes
                to life with new zest and style.
                Our store offers a wide selection of high-quality and authentic embroidery, which combines the elegance
                of traditional
                needlework and modern design.</p>

            <p class="about-text">In "Vyshyvanka Vibes" you will find various models of embroidery, from classic to
                modern, corresponding to the latest
                fashion trends. Our embroidery is made using natural fabrics and is embroidered by highly qualified
                craftsmen who convey
                the beauty of Ukrainian culture in every detail.We believe that vyshyvanka is not just clothing, but a
                symbol of
                national pride, the heritage of our ancestors and a way of expressing one's individuality. Each
                embroidery from
                "Vyshyvanka Vibes" has its own unique history and symbolism, which gives it a special meaning.</p>
        </div>

        <img class="about-img" src="../img/about-us/about-img-1188w.jpg" srcset="../img/about-us/about-img-335w.jpg 335w, 
            ../img/about-us/about-img-670w.jpg 670w, 
            ../img/about-us/about-img-704w.jpg 704w,
            ../img/about-us/about-img-1008w.jpg 1008w, 
            ../img/about-us/about-img-594w.jpg 594w, 
            ../img/about-us/about-img-1188w.jpg 1188w,
            ../img/about-us/about-img-709w.jpg 709w,
            ../img/about-us/about-img-1418w.jpg 1418w"
            sizes="(min-width: 1440px) 709px, (min-width: 1280px) 594px, (min-width: 768px) 704px, (max-width: 767px) 335px"
            alt="вишиванка" width="335" height="499">

    </div>
</section>