<footer class="footer">
  <div class="footer-container container">
    <div class="footer-section-links">
      <ul class="footer-links-list">
        <li class="footer-links-item">
          <a class="footer-links" href="#about-us">About Us</a>
        </li>
        <li class="footer-links-item">
          <a class="footer-links" href="#our-collection">Our Collection</a>
        </li>
        <li class="footer-links-item">
          <a class="footer-links" href="#customer-order">Customer Order</a>
        </li>
        <li class="footer-links-item">
          <a class="footer-links" href="#testimonials">Testimonials</a>
        </li>
      </ul>
    </div>
    <div class="footer-section-title">
      <h2 class="footer-title">
        A touch of <span class="footer-title-span">Ukrainian</span> culture in
        every embroidery
      </h2>
    </div>
  </div>
</footer>
