<section>
  <div>
    <img srcset="" src="" alt="girl in gray embroidery" />
    <h1>
      Reviving the traditional <span>Ukrainian</span> artistry in every stitch.
    </h1>
    <button type="button">
      Order
      <svg width="26" height="10">
        <use></use>
      </svg>
    </button>
    <div>
      <svg width="52" height="51"><use></use></svg>
      <p>all embroidery is made by hand</p>
    </div>
    <img srcset="" src="" alt="ornament with a map of Ukraine" />
  </div>
</section>
