<section>
  <div class="">
    <img
      srcset="
        ./src/img/hero/hero-girl-mobile-335w.jpg    335w,
        ./src/img/hero/hero-girl-mobile-670w-2.jpg  670w,
        ./src/img/hero/hero-girl-tablet-413w.jpg    413w,
        ./src/img/hero/hero-girl-tablet-826w-2.jpg  826w,
        ./src/img/hero/hero-girl-desctop-392w.jpg   392w,
        ./src/img/hero/hero-girl-desctop-784w-2.jpg 784w
      "
      src="./src/img/hero/hero-girl-desctop-392w.jpg"
      sizes="(min-width: 1280px) 392px, (min-width: 768px) 413px, (max-width: 375px) 335w"
    />
    <h1 class="">
      Reviving the traditional <span class="">Ukrainian</span> artistry in every
      stitch.
    </h1>
    <button class="" type="button">
      Order
      <svg class="" width="26" height="10" aria-label="">
        <use href="/src/public/icons.svg#icon-arrow"></use>
      </svg>
    </button>
    <div>
      <svg class="" width="52" height="51" aria-label="">
        <use href="/src/public/icons.svg#icon-sun"></use>
      </svg>
      <p class="">all embroidery is made by hand</p>
    </div>
    <img
      srcset="./src/img/hero/hero-map-desctop-278w-2.jpg"
      src="./src/img/hero/hero-map-desctop-139w.jpg"
      alt="ornament with a map of Ukraine"
    />
  </div>
</section>
