<!-- OUR COLLECTION -->
<section>
  <div>
    <h2>Our collection</h2>
    <ul>
      <li>
        <img
          srcset="
            ../img/our-collection/august-poltava-women's-blousering-347w.jpg    347w,
            ../img/our-collection/august-poltava-women's-blousering-347w@2x.jpg 694w,
            ../img/our-collection/august-poltava-women's-blousering-342w.jpg    342w,
            ../img/our-collection/august-poltava-women's-blousering-342w@2x.jpg 684w,
            ../img/our-collection/august-poltava-women's-blousering-335w.jpg    335w,
            ../img/our-collection/august-poltava-women's-blousering-335w@2x.jpg 670w
          "
          sizes="(min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
          src="../img/our-collection/august-poltava-women's-blousering-335w.jpg"
          alt="august poltava women's blousering"
        />
        <div>
          <h3>AUGUST Poltava women's blouseRING</h3>
          <p>3300 UAH</p>
        </div>
      </li>
      <li>
        <img
          srcset="
            ../img/our-collection/women's-blouse-gorgany-347w.jpg    347w,
            ../img/our-collection/women's-blouse-gorgany-347w@2x.jpg 694w,
            ../img/our-collection/women's-blouse-gorgany-342w.jpg    342w,
            ../img/our-collection/women's-blouse-gorgany-342w@2x.jpg 684w,
            ../img/our-collection/women's-blouse-gorgany-335w.jpg    335w,
            ../img/our-collection/women's-blouse-gorgany-335w@2x.jpg 670w
          "
          sizes="(min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
          src="../img/our-collection/women's-blouse-gorgany-335w.jpg"
          alt="women's blouse gorgany"
        />
        <div>
          <h3>Women's blouse Gorgany</h3>
          <p>3350 UAH</p>
        </div>
      </li>
      <li>
        <img
          srcset="
            ../img/our-collection/women's-blouse-crimea-347w.jpg    347w,
            ../img/our-collection/women's-blouse-crimea-347w@2x.jpg 694w,
            ../img/our-collection/women's-blouse-crimea-342w.jpg    342w,
            ../img/our-collection/women's-blouse-crimea-342w@2x.jpg 684w,
            ../img/our-collection/women's-blouse-crimea-335w.jpg    335w,
            ../img/our-collection/women's-blouse-crimea-335w@2x.jpg 670w
          "
          sizes="(min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
          src="../img/our-collection/women's-blouse-crimea-335w.jpg"
          alt="women's blouse crimea"
        />
        <div>
          <h3>Women's blouse Crimea</h3>
          <p>4000 UAH</p>
        </div>
      </li>
      <li>
        <img
          srcset="
            ../img/our-collection/men's-shirt-verkhovina-347w.jpg    347w,
            ../img/our-collection/men's-shirt-verkhovina-347w@2x.jpg 694w,
            ../img/our-collection/men's-shirt-verkhovina-342w.jpg    342w,
            ../img/our-collection/men's-shirt-verkhovina-342w@2x.jpg 684w,
            ../img/our-collection/men's-shirt-verkhovina-335w.jpg    335w,
            ../img/our-collection/men's-shirt-verkhovina-335w@2x.jpg 670w
          "
          sizes="(min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
          src="../img/our-collection/men's-shirt-verkhovina-335w.jpg"
          alt="men's shirt verkhovina"
        />
        <div>
          <h3>Men's shirt Verkhovina</h3>
          <p>3100 UAH</p>
        </div>
      </li>
      <li>
        <img
          srcset="
            ../img/our-collection/mountain-men's-shirt-347w.jpg    347w,
            ../img/our-collection/mountain-men's-shirt-347w@2x.jpg 694w,
            ../img/our-collection/mountain-men's-shirt-342w.jpg    342w,
            ../img/our-collection/mountain-men's-shirt-342w@2x.jpg 684w,
            ../img/our-collection/mountain-men's-shirt-335w.jpg    335w,
            ../img/our-collection/mountain-men's-shirt-335w@2x.jpg 670w
          "
          sizes="(min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
          src="../img/our-collection/mountain-men's-shirt-335w.jpg"
          alt="mountain men's shirt"
        />
        <div>
          <h3>Mountain men's shirt</h3>
          <p>3300 UAH</p>
        </div>
      </li>
      <li>
        <img
          srcset="
            ../img/our-collection/men's-shirt-yasen-347w.jpg    347w,
            ../img/our-collection/men's-shirt-yasen-347w@2x.jpg 694w,
            ../img/our-collection/men's-shirt-yasen-342w.jpg    342w,
            ../img/our-collection/men's-shirt-yasen-342w@2x.jpg 684w,
            ../img/our-collection/men's-shirt-yasen-335w.jpg    335w,
            ../img/our-collection/men's-shirt-yasen-335w@2x.jpg 670w
          "
          sizes="(min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
          src="../img/our-collection/men's-shirt-yasen-335w.jpg"
          alt="men's shirt yasen"
        />
        <div>
          <h3>Men's shirt Yasen</h3>
          <p>1700 UAH</p>
        </div>
      </li>
    </ul>
  </div>
</section>
