<!-- OUR COLLECTION -->
<section class="our-collection-section">
  <div class="container">
    <h2 class="our-collection-title" id="our-collection">Our collection</h2>
    <ul class="our-collection-list">
      <li class="our-collection-list-item">
        <img
          class="our-collection-product"
          srcset="
            ./img/our-collection/august-poltava-women's-blousering-400w.jpg    400w,
            ./img/our-collection/august-poltava-women's-blousering-400w@2x.jpg 800w,
            ./img/our-collection/august-poltava-women's-blousering-347w.jpg    347w,
            ./img/our-collection/august-poltava-women's-blousering-347w@2x.jpg 694w,
            ./img/our-collection/august-poltava-women's-blousering-342w.jpg    342w,
            ./img/our-collection/august-poltava-women's-blousering-342w@2x.jpg 684w,
            ./img/our-collection/august-poltava-women's-blousering-335w.jpg    335w,
            ./img/our-collection/august-poltava-women's-blousering-335w@2x.jpg 670w
          "
          sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
          src="./img/our-collection/august-poltava-women's-blousering-335w.jpg"
          alt="august poltava women's blousering"
        />
        <div class="our-collection-product-div">
          <h3 class="our-collection-product-descr tablet-desktop-descr">
            AUGUST Poltava women's blouseRING
          </h3>
          <p class="our-collection-product-price">3300 UAH</p>
        </div>
      </li>
      <li class="our-collection-list-item">
        <img
          class="our-collection-product"
          srcset="
            ./img/our-collection/women's-blouse-gorgany-400w.jpg    400w,
            ./img/our-collection/women's-blouse-gorgany-400w@2x.jpg 800w,
            ./img/our-collection/women's-blouse-gorgany-347w.jpg    347w,
            ./img/our-collection/women's-blouse-gorgany-347w@2x.jpg 694w,
            ./img/our-collection/women's-blouse-gorgany-342w.jpg    342w,
            ./img/our-collection/women's-blouse-gorgany-342w@2x.jpg 684w,
            ./img/our-collection/women's-blouse-gorgany-335w.jpg    335w,
            ./img/our-collection/women's-blouse-gorgany-335w@2x.jpg 670w 
          "
          sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
          src="./img/our-collection/women's-blouse-gorgany-335w.jpg"
          alt="women's blouse gorgany"
        />
        <div class="our-collection-product-div">
          <h3 class="our-collection-product-descr">Women's blouse Gorgany</h3>
          <p class="our-collection-product-price">3350 UAH</p>
        </div>
      </li>
      <li class="our-collection-list-item">
        <img
          class="our-collection-product"
          srcset="
            ./img/our-collection/women's-blouse-crimea-400w.jpg    400w,
            ./img/our-collection/women's-blouse-crimea-400w@2x.jpg 800w,
            ./img/our-collection/women's-blouse-crimea-347w.jpg    347w,
            ./img/our-collection/women's-blouse-crimea-347w@2x.jpg 694w,
            ./img/our-collection/women's-blouse-crimea-342w.jpg    342w,
            ./img/our-collection/women's-blouse-crimea-342w@2x.jpg 684w,
            ./img/our-collection/women's-blouse-crimea-335w.jpg    335w,
            ./img/our-collection/women's-blouse-crimea-335w@2x.jpg 670w
          "
          sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
          src="./img/our-collection/women's-blouse-crimea-335w.jpg"
          alt="women's blouse crimea"
        />
        <div class="our-collection-product-div">
          <h3 class="our-collection-product-descr">Women's blouse Crimea</h3>
          <p class="our-collection-product-price">4000 UAH</p>
        </div>
      </li>
      <li class="our-collection-list-item">
        <img
          class="our-collection-product"
          srcset="
            ./img/our-collection/men's-shirt-verkhovina-400w.jpg    400w,
            ./img/our-collection/men's-shirt-verkhovina-400w@2x.jpg 800w,
            ./img/our-collection/men's-shirt-verkhovina-347w.jpg    347w,
            ./img/our-collection/men's-shirt-verkhovina-347w@2x.jpg 694w,
            ./img/our-collection/men's-shirt-verkhovina-342w.jpg    342w,
            ./img/our-collection/men's-shirt-verkhovina-342w@2x.jpg 684w,
            ./img/our-collection/men's-shirt-verkhovina-335w.jpg    335w,
            ./img/our-collection/men's-shirt-verkhovina-335w@2x.jpg 670w
          "
          sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
          src="./img/our-collection/men's-shirt-verkhovina-335w.jpg"
          alt="men's shirt verkhovina"
        />
        <div class="our-collection-product-div">
          <h3 class="our-collection-product-descr">Men's shirt Verkhovina</h3>
          <p class="our-collection-product-price">3100 UAH</p>
        </div>
      </li>
      <li class="our-collection-list-item">
        <img
          class="our-collection-product"
          srcset="
            ./img/our-collection/mountain-men's-shirt-400w.jpg    400w,
            ./img/our-collection/mountain-men's-shirt-400w@2x.jpg 800w,
            ./img/our-collection/mountain-men's-shirt-347w.jpg    347w,
            ./img/our-collection/mountain-men's-shirt-347w@2x.jpg 694w,
            ./img/our-collection/mountain-men's-shirt-342w.jpg    342w,
            ./img/our-collection/mountain-men's-shirt-342w@2x.jpg 684w,
            ./img/our-collection/mountain-men's-shirt-335w.jpg    335w,
            ./img/our-collection/mountain-men's-shirt-335w@2x.jpg 670w
          "
          sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
          src="./img/our-collection/mountain-men's-shirt-335w.jpg"
          alt="mountain men's shirt"
        />
        <div class="our-collection-product-div">
          <h3 class="our-collection-product-descr">Mountain men's shirt</h3>
          <p class="our-collection-product-price">3300 UAH</p>
        </div>
      </li>
      <li class="our-collection-list-item">
        <img
          class="our-collection-product"
          srcset="
            ./img/our-collection/men's-shirt-yasen-400w.jpg    400w,
            ./img/our-collection/men's-shirt-yasen-400w@2x.jpg 800w,
            ./img/our-collection/men's-shirt-yasen-347w.jpg    347w,
            ./img/our-collection/men's-shirt-yasen-347w@2x.jpg 694w,
            ./img/our-collection/men's-shirt-yasen-342w.jpg    342w,
            ./img/our-collection/men's-shirt-yasen-342w@2x.jpg 684w,
            ./img/our-collection/men's-shirt-yasen-335w.jpg    335w,
            ./img/our-collection/men's-shirt-yasen-335w@2x.jpg 670w
          "
          sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
          src="./img/our-collection/men's-shirt-yasen-335w.jpg"
          alt="men's shirt yasen"
        />
        <div class="our-collection-product-div">
          <h3 class="our-collection-product-descr">Men's shirt Yasen</h3>
          <p class="our-collection-product-price">1700 UAH</p>
        </div>
      </li>
    </ul>
  </div>
</section>
