/* varibles */

:root {
  --black-color: #1c2225;
  --yellow-color: #ecd979;
  --white-color: #fcf9f9;
  --primary-text-color: rgba(252, 249, 249, 0.4);
}

/* common */

body {
  font-family: 'Manrope', sans-serif;
  color: var(--white-color);
  background-color: var(--black-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
}


.container {
  max-width: 375px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 768px) {
    .container {
        max-width: 744px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1120px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1280px;
  }
}
