*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Footer styles */

.footer {
  border-top: 1px solid rgba(252, 249, 249, 0.1);
  background-color: var(--black-color);
  padding-top: 40px;
}

.footer-title {
  font-size: 44px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: -0.03em;
  text-align: left;
  color: var(--white-color);
}

.footer-title-span {
  color: var(--yellow-color);
}

.footer-links {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  text-align: left;
  color: var(--white-color);
}

.footer-section-links {
  display: flex;
  min-width: 280px;
  min-height: 61px;
  gap: 25px 40px;
}
