

.hero-title {
    color: var(--white);
        font-size: 54px;
        font-weight: 400;
        line-height: 1.18;
        letter-spacing: -0.03em;
}

.hero-title-Ukrainian{
    color: var(--yellow);
}

.hero-button {
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.10);
}

.hero-button-svg {
    fill: var(--yellow);
}

.hero-hand-made-svg {
    fill: var(--yellow);
}

.hero-hand-made-paragraph {
    color: rgba(252, 249, 249, 0.40);
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.04em;
}