.menu {
    position: fixed;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 274px;
    height: 100%;

    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;

    transform: translateX(100%);
    transition: transform 250ms linear;

    color: var(--black-color);
    background-color: var(--yellow-color);

    background-image: url("./img/menu/menu-bg-mobile.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 251px;
}

.is-open {
    transform: translateX(0);
}

@media (min-resolution: 192dpi) {
    .menu {
        background-image: url("./img/menu/menu-bg-mobile@2x.png");
    }
}

@media (min-width: 768px) {
    .menu {
        width: 380px;

        background-image: url("./img/menu/menu-bg-tablet.png");
        background-size: 100% 364px;
    }
}

@media (min-width: 768px) and (min-resolution: 192dpi) {
    .menu {
        background-image: url("./img/menu/menu-bg-tablet@2x.png");
    }
}

/* top side */

.menu-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-tel {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;

    width: 158px;
    height: 38px;

    transition: border-color 250ms linear;

    border-radius: 15px;
    border: 1px solid rgba(28, 34, 37, 0.10);
}

@media (min-width: 768px) {
    .menu-tel {
        width: 193px;
        height: 48px;

        font-size: 14px;
        line-height: 1.42;
    }
}

.menu-tel:hover,
.menu-tel:focus {
    border-color: var(--yellow-color);
}

.menu-close-btn {
    display: block;

    padding: 0;
    border: none;
    background-color: transparent;

    stroke: var(--black-color);
}

@media (min-width: 768px) {
    .menu-close-btn-icon {
        width: 44px;
        height: 44px;
    }
}

/* list */

.menu-list {
    text-align: end;
}

.menu-item:not(:last-child) {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .menu-item:not(:last-child) {
        margin-bottom: 25px;
    }
}

.menu-link {
    font-size: 14px;
    line-height: 1.28;
    text-transform: uppercase;

    transition: color 250ms linear;
}

.menu-link:hover,
.menu-link:focus {
    color: var(--yellow-color);
}

/* background */

.menu-bg {
    width: 100%;
    height: 251px;
}

@media (min-width: 768px) {
    .menu-bg {
        height: 364px;
    }
}