/* Mobile */
@media screen and (max-width:767px) {
    .testimonials-item-second
    .testimonials-item-third {
        display: none;
    }
}

/* Tablet */
@media screen and (max-width:1279px) {
    .testimonials-item-third {
        display: none;
    }
}
.testimonials-section {
    padding: 150px 100px;
}
.testimonials-list {
    display: flex;
    column-gap: 26px;
    width: calc((100% - 52px) / 3);
}
.testimonials-title {
    color: var(--white, #FCF9F9);
    font-family: Manrope;
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.45;
    letter-spacing: -0,03em;
}
.testimonials-list {
    list-style: none;
    padding: 0;
}
.testimonials-item {
    padding: 0 18px 18px 18px;
    border-radius: 4px;
    border: 1px solid rgba(252, 249, 249, 0.10);
}
.person-img {
    margin-top: -28px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.testimonials-person-title {
    color: var(--white, #FCF9F9);
    text-align: center;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
}
.testimonials-person-text {
    color: rgba(252, 249, 249, 0.40);
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 307px;
}
