.order-bg-img {
    max-width: 375px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    margin-bottom: 80px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.order-container {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 80px;
}

.order-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.375;
    letter-spacing: -0.03em;
    color: var(--white-color);
    max-width: 320px;
    margin-bottom: 40px;
}

.order-title-orig {
    color: var(--yellow-color);
}

.order-form-input {
    width: 335px;
    height: 47px;
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 15px;
    background-color: transparent;
    outline: transparent;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.37;
    letter-spacing: -0.02em;
    color: rgba(252, 249, 249, 0.5);
    text-align: left;
    color: rgba(252, 249, 249, 0.5);
    padding: 14px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 20px;
}

.order-form-input:focus {
    border-color: rgba(252, 249, 249, 1);
    outline: transparent;
}

.order-form-input::placeholder {
    color: rgba(252, 249, 249, 1);
}

.order-form-field-wrapper-comment {
    margin-bottom: 40px;
}

.order-form-comment {
    display: block;
    width: 335px;
    height: 196px;
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 15px;
    padding: 14px 16px;
    resize: none;
    background-color: transparent;
    outline: transparent;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.37;
    letter-spacing: -0.02em;
    color: rgba(252, 249, 249, 0.5);
    text-align: left;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-comment::placeholder {
    color: rgba(252, 249, 249, 1);
}

.order-form-comment:focus {
    border-color: rgba(252, 249, 249, 1);
    outline: transparent;
    color: rgba(252, 249, 249, 1);
}

.order-form-submit {
    display: flex;
    min-width: 145px;
    height: 49px;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
    background-color: transparent;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: rgba(252, 249, 249, 1);
    letter-spacing: -0.04em;
    line-height: 1.37;
    text-transform: uppercase;
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 15px;
    padding: 14px 36px;
    margin-left: auto;
    margin-right: auto;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-submit:hover,
.order-form-submit:focus {
    border: 1px solid var(--yellow-color);
}

.order-btn-icon {
    fill: var(--yellow-color);
}

.order-img {
    width: 524px;
    height: 521px;
}

@media screen and (max-width: 767px) {
    .order-bg-img {
        background-image: url('./img/your-order/order-bg-mobile.jpg');
        background-size: 375px 550px;
    }

    .order-container {
        width: 375px;
    }

    .order-title {
        max-width: 375px;
    }

    .order-img {
        display: none;
    }
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px),
screen and (max-device-pixel-ratio: 2) and (max-width: 767px) {
    .order-bg-img {
        background-image: url('./img/your-order/order-bg-mobile@2.jpg');
    }
}

@media screen and (min-width: 768px) {
    .order-title {
        max-width: 542px;
        font-size: 44px;
        line-height: 1.318;
    }

    .order-form-input {
        width: 508px;
        height: 50px;
        font-size: 16px;
    }

    .order-form-comment {
        width: 508px;
        font-size: 16px;
    }

    .order-form-submit {
        width: 168px;
        height: 50px;
        font-size: 16px;
    }

    .order-btn {
        display: inline-flex;
        justify-content: left;
    }

    .order-container {
        background-repeat: no-repeat;
        background-position: left bottom;
    }

}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .order-bg-img {
        background-image: url('./img/your-order/order-bg-tablet.jpg');
        max-width: 768px;
        height: 776px;
        margin-bottom: 100px;
    }

    .order-container {
        width: 768px;
        height: 1340px;
        padding-left: 32px;
        padding-right: 32px;
        margin-bottom: 100px;
        background-image: url('./img/your-order/order-bg-elem-tablet.png');
        background-position: left bottom;
        background-repeat: no-repeat;
    }

    .order-form-container {
        width: 542px;
        margin-bottom: 100px;
    }

    .order-img {
        margin-left: auto;
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1279px),
screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1279px),
screen and (max-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1279px) {
    .order-bg-img {
        background-image: url('./img/your-order/order-bg-tablet@2.jpg');
    }

    .order-container {
        background-image: url('./img/your-order/order-bg-elem-tablet@2.png');
    }

}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
    .order-bg-img {
        background-image: url('./img/your-order/order-bg-desktop-1282w.jpg');
        max-width: 1282px;
        margin-bottom: 150px;
    }

    .order-container {
        width: 1280px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 150px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        gap: 50px;
        background-repeat: no-repeat;
        background-position: left bottom;
        background-image: url('./img/your-order/order-bg-elem-desktop.png');
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1280px) and (max-width: 1439px),
screen and (min-resolution: 2dppx) and (min-width: 1280px) and (max-width: 1439px),
screen and (max-device-pixel-ratio: 2) and (min-width: 1280px) and (max-width: 1439px) {
    .order-bg-img {
        background-image: url('./img/your-order/order-bg-desktop-1282w@2.jpg');
    }

    .order-container {
        background-image: url('./img/your-order/order-bg-elem-desktop@2.png');
    }
}

@media screen and (min-width: 1440px) {
    .order-bg-img {
        background-image: url('./img/your-order/order-bg-desktop-1440w.jpg');
        max-width: 1440px;
    }

    .order-title {
        max-width: 666px;
    }

    .order-container {
        width: 1440px;
        padding-left: 100px;
        padding-right: 100px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        gap: 50px;
        background-image: url('./img/your-order/order-bg-elem-desktop.png');
        background-repeat: no-repeat;
        background-position: left bottom;

    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1440px),
screen and (min-resolution: 2dppx) and (min-width: 1440px),
screen and (max-device-pixel-ratio: 2) and (min-width: 1440px) {
    .order-bg-img {
        background-image: url('./img/your-order/order-bg-elem-desktop@2.png');
    }
}